<% if session[:borrow_item].present? %>
  <li>
    <%= form_for args do |f| %>
      <%= f.fields_for :borrow_items do |ff| %>
        <%= ff.hidden_field :book_id %>
      <% end %>
      <%= f.submit t("borrow_items.index.borrow"), class: "btn btn-outline-warning" %>
    <% end %>
  </li>
<% end %>
