<tr class="createCategory">
  <td>
    <%= page_index params[:page], publisher_counter,
      Settings.panigate.category %>
  </td>
  <td>
    <%= publisher.name %>
  </td>
  <td>
    <%= link_to "#" do %>
      <span class="badge rounded-pill bg-success">
        <i class="fas fa-edit"></i>
      </span>
    <% end %>
    <%= link_to "#" do %>
      <span class="badge rounded-pill bg-danger">
        <i class="fas fa-trash-alt"></i>
      </span>
    <% end %>
  </td>
</tr>
