<tr class="createCategory">
  <td>
    <%= publisher.name %>
  </td>
  <td>
    <%= link_to "#" do %>
      <span class="badge rounded-pill bg-success">
        <i class="fas fa-edit" style="color:black"></i>
      </span>
    <% end %>
    <%= link_to "#" do %>
      <span class="badge rounded-pill bg-danger">
        <i class="fas fa-trash-alt" style="color:black"></i>
      </span>
    <% end %>
  </td>
</tr>
