<div class="modal" id="category-<%= category.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= image_tag category.avatar if category.avatar.attached? %>
      </div>
    </div>
  </div>
</div>
