@import "http://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext";
@media (min-width: 768px) {
  .kpx_row-sm-offset-3 {
    div {
			&:first-child[class*="col-"] {
				margin-left: 25%;
			}
		}
	}

	.kpx_login {
		.kpx_forgotPwd {
			text-align: right;
			margin-top: 10px;
		}
	}
}

body {
	font-family: 'Titillium Web', sans-serif;
}

a {
	color: #ff5400;
	&:hover {
		opacity: 0.8;
		color: #ff5400;
		text-decoration: none;
	}
}

.kpx_login {
	.kpx_authTitle {
		text-align: center;
		line-height: 300%;
	}

	.kpx_socialButtons {
		a {
			color: white;
			// in youruse @body-bg opacity: 0.9;
			&:hover {
				color: white;
				opacity: 1;
			}
		}

		.kpx_btn-facebook {
			background: #3b5998;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			&:hover {
				background: #172d5e;
			}
			&:focus {
				background: #fff;
				color: #3b5998;
				border-color: #3b5998;
			}
		}

		.kpx_btn-twitter {
			background: #00aced;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			&:hover {
				background: #043d52;
			}
			&:focus {
				background: #fff;
				color: #00aced;
				border-color: #00aced;
			}
		}

		.kpx_btn-google-plus {
			background: #c32f10;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			&:hover {
				background: #6b1301;
			}
			&:focus {
				background: #fff;
				color: #c32f10;
				border-color: #c32f10;
			}
		}

		.kpx_btn-soundcloud {
			background: #ff8800;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			&:hover {
				background: #c73e04;
			}
			&:focus {
				background: #fff;
				color: #ff8800;
				border-color: #ff8800;
			}
		}

		.kpx_btn-github {
			background: #666666;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			&:hover {
				background: #333333;
			}
			&:focus {
				background: #fff;
				color: #666666;
				border-color: #666666;
			}
		}

		.kpx_btn-steam {
			background: #878787;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			&:hover {
				background: #292929;
			}
			&:focus {
				background: #fff;
				color: #878787;
				border-color: #878787;
			}
		}

		.kpx_btn-pinterest {
			background: #cc2127;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			&:hover {
				background: #780004;
			}
			&:focus {
				background: #fff;
				color: #cc2127;
				border-color: #cc2127;
			}
		}

		.kpx_btn-vimeo {
			background: #1ab7ea;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			&:hover {
				background: #162221;
			}
			&:focus {
				background: #fff;
				color: #1ab7ea;
				border-color: #1ab7ea;
			}
		}

		.kpx_btn-lastfm {
			background: #c3000d;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			&:hover {
				background: #5e0208;
			}
			&:focus {
				background: #fff;
				color: #c3000d;
				border-color: #c3000d;
			}
		}

		.kpx_btn-yahoo {
			background: #400191;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			&:hover {
				background: #230052;
			}
			&:focus {
				background: #fff;
				color: #400191;
				border-color: #400191;
			}
		}

		.kpx_btn-vk {
			background: #45668e;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			&:hover {
				background: #1a3352;
			}
			&:focus {
				background: #fff;
				color: #45668e;
				border-color: #45668e;
			}
		}

		.kpx_btn-spotify {
			background: #7ab800;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			&:hover {
				background: #3a5700;
			}
			&:focus {
				background: #fff;
				color: #7ab800;
				border-color: #7ab800;
			}
		}

		.kpx_btn-linkedin {
			background: #0976b4;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			&:hover {
				background: #004269;
			}
			&:focus {
				background: #fff;
				color: #0976b4;
				border-color: #0976b4;
			}
		}

		.kpx_btn-stumbleupon {
			background: #eb4924;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			&:hover {
				background: #943019;
			}
			&:focus {
				background: #fff;
				color: #eb4924;
				border-color: #eb4924;
			}
		}

		.kpx_btn-tumblr {
			background: #35465c;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			&:hover {
				background: #142030;
			}
			&:focus {
				background: #fff;
				color: #35465c;
				border-color: #35465c;
			}
		}
	}

	.kpx_loginOr {
		position: relative;
		font-size: 1.5em;
		color: #aaa;
		margin-top: 1em;
		margin-bottom: 1em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		.kpx_hrOr {
			background-color: #cdcdcd;
			height: 1px;
			margin-top: 0px !important;
			margin-bottom: 0px !important;
		}

		.kpx_spanOr {
			display: block;
			position: absolute;
			left: 50%;
			top: -0.6em;
			margin-left: -1.5em;
			background-color: white;
			width: 3em;
			text-align: center;
		}
	}

	.kpx_loginForm {
		.input-group.i {
			width: 2em;
		}

		.help-block {
			color: red;
		}
	}
}
